<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    
    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    
    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    
    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
    
    
      <title>CodePen - Family Feud</title>
     
      
      
    
      
      
    <style>
    html {
      height: 100%;
      width: 100%;  
    }
    
    body {
      background: #a7cfdf;
      background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
      background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
      background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=0);
      /*
      padding: 25px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      */
    }
    
    .gameBoard .cardHolder>div,
    .gameBoard .LBG {
      background: #cedbe9;
      background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
      background: -webkit-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
      background: linear-gradient(to bottom, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b', GradientType=0);
    }
    
    .gameBoard .cardHolder>div:empty,
    .gameBoard .score,
    .gameBoard .button,
    .gameBoard .DBG {
      background: #7db9e8;
      background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
      background: -webkit-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
      background: linear-gradient(to bottom, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0);
    }
    
    .gameBoard {
      position: relative;
      font-family: helvetica, sans-serif;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
      border: 5px solid #003c7b;
      text-align: center;
      padding: 150px;
      border-radius: 50%;
      max-width: 1000px;
      max-height: 800px;
      min-width: 305px;
      margin: auto;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg') #0a3962;
      /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg') #3a84c3;*/
      background-repeat: repeat;
      background-position: center center;
      -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
    }
    
    .gameBoard .score {
      position: absolute;
      text-align: center;
      margin: auto;
      font-size: 45px;
      height: 50px;
      line-height: 50px;
      width: 75px;
      padding: 20px;
      border: 2px solid white;
      -webkit-box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
    }
    .gameBoard .score#boardScore {
      height: 75px;
      line-height: 75px;
      width: 125px;
      font-size: 65px;
      left: 0;
      right: 0;
      top: 20px;
    }
    .gameBoard .score#team1 {
      left: 10px;
      top: 0;
      bottom: 0;
    }
    .gameBoard .score#team1a {
      left: 10px;
      top: 190px;
      bottom: 0;
      font-size: larger;
    }
    .gameBoard .score#team2 {
      right: 10px;
      top: 0;
      bottom: 0;
    }
    .gameBoard .score#team2a {
      right: 10px;
      top: 190px;
      bottom: 0;
      font-size: larger;
    }
    
    .gameBoard .questionHolder {
      width: 94%;
      margin: auto;
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 30px;
      color: #003c7b;
      text-shadow: initial;
      text-align: center;
      border: 1px solid black;
      background: #deeeff;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid black;
      -webkit-box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
    }
    .gameBoard .questionHolder span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    
    .gameBoard .colHolder {
      background: black;
      padding: 4px;
    }
    .gameBoard .colHolder>div {
      display: block;
      width:100%;
      -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
    }
    .gameBoard .cardHolder {
      display: inline-block;
      position: relative;
      vertical-align: top;
      height: 50px;
      margin: 4px;
      width: 95%;
      background: black;
      border: 4px solid white;
    }
    .gameBoard .cardHolder:not(.empty){
      cursor: pointer;
    }
    .gameBoard .cardHolder b {
      position: absolute;
      right: 0;
      width: 45px;
      text-align: center;
      border-left: 2px solid #003c7b;
    }
    .gameBoard .cardHolder span {
      margin: 10px;
    }
    .gameBoard .cardHolder>div {
      top: -2px;
      left: -2px;
      margin: 0px;
      padding: 0px;
      position: absolute;
      width: 100%;
      line-height: 100%;
      height: 100%;
      border: 2px solid #003c7b;
      line-height: 50px;
    }
    .gameBoard .cardHolder .back {
      font-size: 25px;
      text-align: left;
      height: 50px;
      line-height: 50px;
    }
    .gameBoard .cardHolder .back span {
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    .gameBoard .cardHolder .front {
      text-align: center;
    }
    .gameBoard .cardHolder .front span {
      font-size: 30px;
      position: absolute;
      border-radius: 50%;
      line-height: 35px;
      height: 35px;
      width: 45px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      margin: auto;
      border: 2px solid #003c7b;
    }
    
    .gameBoard .btnHolder{
      position: absolute;
      margin: auto;
      left:0;
      right:0;
      bottom:45px
    }
    .gameBoard .btnHolder .button{
      cursor: pointer;
      display:inline-block;
      font-size: 20px;
      margin:10px;
      height:50px;
      line-height:50px;
      width:175px;
      border:3px solid white;
      -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
      box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
    }
    .gameBoard .btnHolder .button#awardTeam1{
      border-radius: 50px 0 0 50px;
    }
    .gameBoard .btnHolder .button#awardTeam2{
      border-radius: 0 50px 50px 0;
    }
    
    @media screen and (min-width: 780px) {
      .gameBoard .colHolder>div{
        display: inline-block;
        width:50%;
      }
    }

    </style>
    
      <script>
      window.console = window.console || function(t) {};
    </script>
    
      
      
      <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    
    
    <style type="text/css"></style>
  
  </head>
    
    <body translate="no">
      
       
         
   
  
  <div class="gameBoard" style=" margin-top: 150px; ">
      <!--- Scores --->
      <div class="score" id="boardScore">0</div>
      <div class="score" id="team1">0</div>
      <p class="score" id="team1a">Team 1</p>
      <div class="score" id="team2">0</div>
      <p class="score" id="team2a">Team 2</p>
      
      
      <!--- Question --->
      <div class="questionHolder">
          <span class="question"></span>
      </div>
      
      <!--- Answers --->
      <div class="colHolder">
       
          <div class="col1">
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">1</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Labor Day</span>
                          <b class="LBG">25</b>
                      </div>
                  </div>
              </div>
              
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">2</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Memorial Day</span>
                          <b class="LBG">12</b>
                      </div>
                  </div>
              </div>
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">3</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>New Year's Day</span>
                          <b class="LBG">11</b>
                      </div>
                  </div>
              </div>
              
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">4</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Valentine's Day</span>
                          <b class="LBG">11</b>
                      </div>
                  </div>
              </div>
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">5</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Mother's Day</span>
                          <b class="LBG">7</b>
                      </div>
                  </div>
              </div>
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">6</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Columbus Day</span>
                          <b class="LBG">6</b>
                      </div>
                  </div>
              </div>
          </div><div class="col2">
          <div class="cardHolder" style="perspective: 800px;">
              <div class="card" style="transform-style: preserve-3d; ">
                  <div class="front" style="backface-visibility: hidden;">
                      <span class="DBG">7</span>
                  </div>
                  <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                      <span>Thanksgiving Day</span>
                      <b class="LBG">6</b>
                  </div>
              </div>
          </div>
          <div class="cardHolder" style="perspective: 800px;">
              <div class="card" style="transform-style: preserve-3d; ">
                  <div class="front" style="backface-visibility: hidden;">
                      <span class="DBG">8</span>
                  </div>
                  <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                      <span>Christmas Day</span>
                      <b class="LBG">5</b>
                  </div>
              </div>
          </div>
          <div class="cardHolder" style="perspective: 800px;">
              <div class="card" style="transform-style: preserve-3d; ">
                  <div class="front" style="backface-visibility: hidden;">
                      <span class="DBG">9</span>
                  </div>
                  <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                      <span>Washington's Birthday</span>
                      <b class="LBG">5</b>
                  </div>
              </div>
          </div>
          <div class="cardHolder" style="perspective: 800px;">
              <div class="card" style="transform-style: preserve-3d;">
                  <div class="front" style="backface-visibility: hidden;">
                      <span class="DBG">10</span>
                  </div>
                  <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                      <span>Independence Day</span>
                      <b class="LBG">4</b>
                  </div>
              </div>
          </div>
          <div class="cardHolder" style="perspective: 800px;">
              <div class="card" style="transform-style: preserve-3d; ">
                  <div class="front" style="backface-visibility: hidden;">
                      <span class="DBG">11</span>
                  </div>
                  <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                      <span>St Patrick's Day</span>
                      <b class="LBG">4</b>
                  </div>
              </div>
          </div>
          <div class="cardHolder" style="perspective: 800px;">
            <div class="card" style="transform-style: preserve-3d; ">
                <div class="front" style="backface-visibility: hidden;">
                    <span class="DBG">12</span>
                </div>
                <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                    <span>St Patrick's Day</span>
                    <b class="LBG">4</b>
                </div>
            </div>
        </div>
          </div>
      </div>
      
      <!--- Buttons --->
      <div class="btnHolder" >
          <div id="awardTeam1" data-team="1" ></div>
          <div id="newQuestion" ></div>
          <div id="awardTeam2" data-team="2" ></div>
      </div>
  </div>



























     
























  <div class="wheel" style="display: none;">
    <style>
      

      .wheel{
        font-family: "Open Sans";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background: rgb(60, 60, 242);
        background: linear-gradient(90deg, rgba(60, 60, 242, 1) 0%, rgba(98, 245, 230, 1) 52%, rgba(60, 60, 242, 1) 100%);
        background-size: cover;
      }

      .mainbox{
        position: relative;
        width: 1000px;
        height: 1000px;
        /* left: -435px */
      }
      .mainbox:after{
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        background: url('arrow-left.png') no-repeat;
        background-size: 32px;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
      }
      .box{
        width: 100%;
        height: 100%;
        position: relative;
        font-weight: bold;
        border-radius: 50%;
        border: 10px solid #fff;
        overflow: hidden;
        transition: all ease 5s;
      }

      #span{
        width: 50%;
        height: 50%;
        display: inline-block;
        position: absolute;
      }

      #span b {
        font-size: 40px;
      }
      .span1{
        clip-path: polygon(0 92%, 100% 50%, 0 8%);
        background-color: #fffb00;
        top: 260px;
        left: 0;
      }
      .span2{
        clip-path: polygon(100% 92%, 0 50%, 100% 8%);
        background-color: #ff4fa1;
        top: 240px;
        right: 0;
      }
      .span3{
        clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
        background-color: #ffaa00;
        bottom: 0;
        left: 260px;
      }
      .span4{
        clip-path: polygon(50% 100%, 92% 0, 8% 0);
        background-color: #22ff00;
        top: 0;
        left: 240px;
      }

      .box1 .span3 b{
        transform: translate(-50%, -50%) rotate(-270deg);
      }
      .box1 .span1 b,
      .box2 .span1 b{
      transform: translate(-50%, -50%) rotate(185deg);
      }
      .box2 .span3 b{
      transform: translate(-50%, -50%) rotate(90deg);
      }
      .box1 .span4 b,
      .box2 .span4 b{
      transform: translate(-50%, -50%) rotate(-85deg);
      }

      span b{
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      }

      .box2{
      width: 100%;
      height: 100%;
      transform: rotate(-135deg);
      }


      .spin{
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid #fff;
        background-color: #001aff;
        color: #fff;
        box-shadow: 0 5px 20px #000;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
      }
      .spin:active{
        width: 70px;
        height: 70px;
        font-size: 20px;
      }

      .mainbox.animate:after{
        animation: animateArrow 0.7s ease infinite;
      }

      .mainbox:after {
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        background: url(arrow-left.png) no-repeat;
        background-size: 32px;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
      }
      @keyframes animateArrow{
        50%{
          right: -40px;
        }
      }
    </style>
    <div id="mainbox" class="mainbox">
      <div id="box" class="box">
        <div class="box1">
          <span id="span" class="span1"><b>Mathematics</b></span>
          <span  id="span" class="span2"><b>Science</b></span>
          <span  id="span" class="span3"><b>Filipino</b></span>
          <span  id="span" class="span4"><b>History or Agriculture</b></span>
        </div>
        <div class="box2">
          <span  id="span" class="span1"><b>Music</b></span>
          <span  id="span" class="span2"><b>Showbiz</b></span>
          <span id="span" class="span3"><b>Sports</b></span>
          <span id="span" class="span4"><b>Politics or Economics</b></span>
        
        </div>
      </div> 
      <button class="spin" onclick="rotateFunction()">SPIN</button>
    </div>
   



   
  </div>
    </body>
    <script src="/assets/jquery/dist/jquery.js"></script>
    <script src="/js/js.js"> </script>
    <script>

      function rotateFunction(){
        var min = 5024;
        var max = 9999;
        var deg = Math.floor(Math.random() * (max - min)) + min;
        document.getElementById('box').style.transform = "rotate("+deg+"deg)";
      }
       // Listen for messages
        socket.addEventListener('message', function (event) {           
            var data = JSON.parse(event.data)
            //console.log(data)           

            $('.question').html(data.question);
            if(data.status == 'quest'){
              makeQuestionbar(data.answer);
            }
            if(data.status == 'anser'){
              revealans(data);
            }
            if(data.status == 'award'){
              //{"status":"award","team":"team1","num":"70"}
              var score = $('#'+data.team).text();                           
              $('#'+data.team).text(Number(data.num) + Number(score))
              $('#boardScore').text('0')
            }

            if(data.status == 'wrong'){
              wrong(data.num);
            }

            if(data.status == 'roulette'){
              var statusss = data.team;
              //console.log(data);
              hideshowb(statusss)
              //wrong(data.num);
            }

            if (data.status == 'spin'){
              rotateFunction()
            }

            if(data.status == 'doublesc'){
              updatescore(data.num)
            }

            if(data.status == 'shquest'){
              
              showquest(data.num)
            }
            if(data.status == 'shans'){

              showquest(data.num)
            }

            if(data.status == 'closemodal'){
              document.getElementById('closed').click();
            }
           
        });

        const updatescore = (score) => {
          $('#boardScore').text(score);
        }

        const hideshowb = (status) => {
          if(status == true){
            //console.log('show roullete')
            $('.wheel').css('display', '');
            $('.gameBoard').css('display', 'none')
          }else{
           // console.log('hide roullete')
            $('.wheel').css('display', 'none');
            $('.gameBoard').css('display', '')
          }
        }



        const wrong = (xx) => {
          document.getElementById("myBtn").click();
          $('.xx').html(xx)
          setTimeout(function () {
            document.querySelector('.close').click();
          }, 3000);
         
        }




        const showquest = (picture) => {
          document.getElementById('quest').click();
          //$('.xx').html('lol')         
          $('#holder').attr("src",picture);
        
        }



        const revealans = (ans) => {
          var csstyle = 'transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);'
          //{"status":"anser","ans":"Keys","scr":"63","num":1}
          console.log(ans.num)
          $('#bcard'+ans.num).css('transform', 'matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1)')
          $('#bans'+ans.num).empty().html(ans.ans);
          $('#bs'+ans.num).empty().html(ans.scr);
          var score = $('#boardScore').html()
          $('#boardScore').empty().html(Number(score) + Number(ans.scr) )
          

        }

        const makeQuestionbar = (num) =>{
          if(num >= 6) {
            var temp = []
            
            for (let index = 0; index < 6 ; index++) {
              var cnt = index + 1;
              temp.push('<div class="cardHolder" style="perspective: 800px;">'+
                  '<div class="card" id="bcard'+ cnt  +'" style="transform-style: preserve-3d; ">'+
                      '<div class="front" style="backface-visibility: hidden;">'+
                          '<span class="DBG">'+ cnt + '</span>'+
                      '</div>'+
                      '<div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">'+
                          '<span id="bans'+ cnt +'">Labor Day</span>'+
                          '<b id="bs'+ cnt +'" class="LBG">25</b>'+
                      '</div>'+
                  '</div>'+
              '</div>')
              
            }
            $('.col1').empty().html(temp);
            var temp2 = [];
           
            for (let index1 = 6; index1 < num; index1++) {
              var cnt1 = index1 + 1;
              temp2.push('<div class="cardHolder" style="perspective: 800px;">'+
                  '<div class="card" id="bcard'+ cnt1  +'" style="transform-style: preserve-3d; ">'+
                      '<div class="front" style="backface-visibility: hidden;">'+
                          '<span class="DBG">'+ cnt1 + '</span>'+
                      '</div>'+
                      '<div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">'+
                        '<span id="bans'+ cnt1 +'">Labor Day</span>'+
                          '<b id="bs'+ cnt1 +'" class="LBG">25</b>'+
                      '</div>'+
                  '</div>'+
              '</div>')
              
            }
            var blank = 6 -Object.keys(temp2).length;
            if(blank <= 12){
                        for (let index3 = 0; index3 < blank; index3++) {
                            var cnt3 = index3 + 1;
                            temp2.push('<div onclick="clickanser(this.id)" id="card' + cnt3 + '" class="cardHolder empty" style="perspective: 800px;"><div></div></div>');                        
                        }
            }
            $('.col2').empty().html(temp2);

          }else if (num <= 6 ){
            $('.col1').empty();
            $('.col2').empty();
            //colHolder

            for (let index = 0; index < 6 ; index++) {
              var cnt = index + 1;
              temp.push('<div class="cardHolder" style="perspective: 800px;">'+
                  '<div class="card" style="transform-style: preserve-3d; ">'+
                      '<div class="front" style="backface-visibility: hidden;">'+
                          '<span class="DBG">'+ cnt + '</span>'+
                      '</div>'+
                      '<div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">'+
                          '<span>Labor Day</span>'+
                          '<b class="LBG">25</b>'+
                      '</div>'+
                  '</div>'+
              '</div>')
              
            }
            $('.colHolder').empty().html(temp);

          }

        }




    </script>
    <style>
              /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
          background-color: rgba(243, 234, 234, 0.802);
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 10px solid rgb(229, 14, 14);
          width: 50%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        .xx{
          font-size: 350px;
          font-family: Arial;
          text-align: center;
          color: red;
          font-weight: bold;
        }
        .quest{
          font-size: 350px;
          font-family: Arial;
          text-align: center;
          color: red;
          font-weight: bold;
        }

    </style>
    <script>
        window.onload = function(){ 
              // your code 
              // Get the modal
            var modal1 = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn1 = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span1 = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn1.onclick = function() {
              modal1.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span1.onclick = function() {
              modal1.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal1) {
                modal1.style.display = "none";
              }
            }

//+++++++++++++++++++++++++++++++++++++
            // your code 
            // Get the modal
            var modal = document.getElementById("spnquest");

            // Get the button that opens the modal
            var btn = document.getElementById("quest");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("closed")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
              modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }









        };
        
    </script>
    <script>
      /*
      window.onload = function(){ 
            // your code 
            // Get the modal
          var modal = document.getElementById("spnquest");

          // Get the button that opens the modal
          var btn = document.getElementById("quest");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("closed")[0];

          // When the user clicks on the button, open the modal
          btn.onclick = function() {
            modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
      };
      */
      
  </script>

<button style="display: none;" id="myBtn">Open Modal</button>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="xx">X</div>
      </div>

    </div>


    <button style="display: none;" id="quest">Open Modal</button>
    <div id="spnquest" class="modal">

      <div class="modal-content">
        <span id="closed" class="closed">&times;</span>
        <div class="quest"><img id="holder"  alt=".." style=" width: fit-content;  height: 689px;"></div>
      </div>

    </div>
    

  

    
</html>