<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
        <meta name="apple-mobile-web-app-title" content="CodePen">
        <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
        <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
        <title>CodePen - Family Feud</title>
        

        <link rel="stylesheet" href="/css/css.css">
        <script>
          window.console = window.console || function(t) {};
        </script>
        <style type="text/css">
          .treple{
            left: 587px;
          }
        </style>
    </head>
    <body translate="no">       
         
      <div class="gameBoard">
          <!--- Scores --->
          <div class="score" id="boardScore">0</div>
          <a onclick="double('two')" class="double">Double</a>
          <a onclick="double('tre')" class="double treple">X3</a>
          
          <div class="score" id="team1">0</div>

          <div class="score" id="team1a" style="display: none;">
            <button class="myb shscore " >show Total</button>
           
          </div>
          
          <div class="score" id="team2">0</div>
          <div class="score" id="team2a" style="display: none;">
              <button class="myb shscore" >show Total</button>
          </div>

          <!--- Question --->
          <div class="">
              <select id="qholder" class="questionHolder"  >
                <option value="" class="question" >Select questions</option>               
              </select>
              <input type="hidden" id="answercnt">  
                <button onclick="loadQuestion()" class="custombtn myb">Load Questions</button>
                <button onclick=" setanswerdash()" class="custombtn myb">Load Answer</button>
                <button onclick="sendMessage('sq')" class="custombtn myb">Show Questions in Board</button>
          </div>

          <!--- Answers --->
          <div class="colHolder">
              <div class="col1">
                  <div class="cardHolder" style="perspective: 800px;">
                      <div class="card" style="transform-style: preserve-3d; ">
                          <div class="front" style="backface-visibility: hidden;">
                              <span class="DBG">1</span>
                          </div>
                          <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                              <span>Labor Day</span>
                              <b class="LBG">25</b>
                          </div>
                      </div>
                  </div>

                  <div class="cardHolder" style="perspective: 800px;">
                      <div class="card" style="transform-style: preserve-3d; ">
                          <div class="front" style="backface-visibility: hidden;">
                              <span class="DBG">2</span>
                          </div>
                          <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                              <span>Memorial Day</span>
                              <b class="LBG">12</b>
                          </div>
                      </div>
                  </div>
                  <div class="cardHolder" style="perspective: 800px;">
                      <div class="card" style="transform-style: preserve-3d; ">
                          <div class="front" style="backface-visibility: hidden;">
                              <span class="DBG">3</span>
                          </div>
                          <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                              <span>New Year's Day</span>
                              <b class="LBG">11</b>
                          </div>
                      </div>
                  </div>

                  <div class="cardHolder" style="perspective: 800px;">
                      <div class="card" style="transform-style: preserve-3d; ">
                          <div class="front" style="backface-visibility: hidden;">
                              <span class="DBG">4</span>
                          </div>
                          <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                              <span>Valentine's Day</span>
                              <b class="LBG">11</b>
                          </div>
                      </div>
                  </div>
                  <div class="cardHolder" style="perspective: 800px;">
                      <div class="card" style="transform-style: preserve-3d; ">
                          <div class="front" style="backface-visibility: hidden;">
                              <span class="DBG">5</span>
                          </div>
                          <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                              <span>Mother's Day</span>
                              <b class="LBG">7</b>
                          </div>
                      </div>
                  </div>
                  <div class="cardHolder" style="perspective: 800px;">
                      <div class="card" style="transform-style: preserve-3d; ">
                          <div class="front" style="backface-visibility: hidden;">
                              <span class="DBG">6</span>
                          </div>
                          <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                              <span>Columbus Day</span>
                              <b class="LBG">6</b>
                          </div>
                      </div>
                  </div>
              </div><div class="col2">
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">7</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Thanksgiving Day</span>
                          <b class="LBG">6</b>
                      </div>
                  </div>
              </div>
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">8</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Christmas Day</span>
                          <b class="LBG">5</b>
                      </div>
                  </div>
              </div>
              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">9</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Washington's Birthday</span>
                          <b class="LBG">5</b>
                      </div>
                  </div>
              </div>

              <div class="cardHolder" style="perspective: 800px;">
                  <div class="card" style="transform-style: preserve-3d; ">
                      <div class="front" style="backface-visibility: hidden;">
                          <span class="DBG">10</span>
                      </div>
                      <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                          <span>Independence Day</span>
                          <b class="LBG">4</b>
                      </div>
                  </div>
              </div>

              <div class="cardHolder" style="perspective: 800px;">
                <div class="card" style="transform-style: preserve-3d;">
                    <div class="front" style="backface-visibility: hidden;">
                        <span class="DBG">11</span>
                    </div>
                    <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                        <span>Oil</span>
                        <b class="LBG">40</b>
                    </div>
                </div>
            </div>

            <div class="cardHolder" style="perspective: 800px;">
                <div class="card" style="transform-style: preserve-3d;">
                    <div class="front" style="backface-visibility: hidden;">
                        <span class="DBG">12</span>
                    </div>
                    <div class="back DBG" style="transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); backface-visibility: hidden;">
                        <span>Oil</span>
                        <b class="LBG">40</b>
                    </div>
                </div>
            </div>
              </div>
          </div>

          <!--- Buttons --->
          <div class="btnHolder">
              <div onclick="awardTo('team1')" id="awardTeam1" data-team="1" class=" myb button">Award Team 1</div>
              <div onclick="resertwrongbtn()"  class=" myb button">Reset WRONG</div>
              <div onclick="awardTo('team2')" id="awardTeam2" data-team="2" class=" myb button">Award Team 2</div>
          </div>
          <hr>
            <a id="one" onclick="btnwrong(this.id)" class="c-btn">X</a>
            <a id="two" onclick="btnwrong(this.id)"class="c-btn">XX</a>
            <a id="three" onclick="btnwrong(this.id)"class="c-btn">XXX</a>


        </div>
        <hr>
            <a id="showhide" onclick="showHide_roulette(this.id)" class="c-btn">Show Roulette</a>
            <a id="spinwheel" onclick="spinwheel()" class="c-btn">Spin</a>
            <a  onclick="closemodal()" class="c-btn">CLOSE MODAL</a>
            <a  onclick="btnwrong1()" class="c-btn">XXX</a>

        <hr>
        <div class="container m-2">
            <style>
                 .accordion {
                                                                                         
                         cursor: pointer;
                          padding: 18px;
                          width: 100%;
                          border: none;
                          text-align: left;
                          outline: none;
                          font-size: 15px;
                          transition: 0.4s;
                    }
                                              
                    .accordion:hover {
                          background-color: #ccc; 
                    }
                                              
                    .panel {
                        padding: 0 18px;
                        display: none;
                        background-color: white;
                        overflow: hidden;
                        margin-top: 3px;
                        margin-bottom: 3px;
                       
                        
                    }
                    
.clear-fix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.button-group {
  margin-bottom: 1rem;
  font-size: 0;
  border: 1px solid #ffa500;
  padding: 1rem;
}
.button-group .button {
  margin: 0;
  margin-bottom: 1px;
  margin-right: 12px;
}
.button-group .button:last-child {
  margin-right: 0;
}
.button-group.button-group--stacked .button {
  width: 100%;
  margin-bottom: 12px;
}
.button-group.button-group--stacked .button:last-child {
  margin-bottom: 0;
}
.button-group.button-group--expanded .button:first-child:nth-last-child(2),
.button-group.button-group--expanded .button:first-child:nth-last-child(2):first-child:nth-last-child(2) ~ .button {
  display: inline-block;
  width: calc(50% - 6px);
}
.button-group.button-group--expanded .button:first-child:nth-last-child(3),
.button-group.button-group--expanded .button:first-child:nth-last-child(3):first-child:nth-last-child(3) ~ .button {
  display: inline-block;
  width: calc(33.33333333333333% - 8px);
}
.button-group.button-group--expanded .button:first-child:nth-last-child(4),
.button-group.button-group--expanded .button:first-child:nth-last-child(4):first-child:nth-last-child(4) ~ .button {
  display: inline-block;
  width: calc(25% - 9px);
}
.button-group.button-group--expanded .button:first-child:nth-last-child(5),
.button-group.button-group--expanded .button:first-child:nth-last-child(5):first-child:nth-last-child(5) ~ .button {
  display: inline-block;
  width: calc(20% - 9.6px);
}
.button-group.button-group--expanded .button:first-child:nth-last-child(6),
.button-group.button-group--expanded .button:first-child:nth-last-child(6):first-child:nth-last-child(6) ~ .button {
  display: inline-block;
  width: calc(16.666666666666664% - 10px);
}
.button {
  background-color: #027faa;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
  padding: 0 2rem;
  text-transform: uppercase;
  outline: none;
}
.button.button--primary {
  background-color: #17aa17;
}
.button.button--warn {
  background-color: #b61b1b;
}
.button:hover,
.button.button--primary:hover,
.button.button-warn:hover {
  background-color: #f60;
}
.button:focus,
.button.button--primary:focus,
.button.button--warn:focus {
  background-color: #f60;
}
.button:active,
.button.button--primary:active,
.button.button--warn:active {
  background-color: #dd5800;
}
.button.button__secondary {
  background-color: transparent;
  color: #027faa;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button.button__secondary.button.button__secondary--primary {
  color: #17aa17;
}
.button.button__secondary.button.button__secondary--warn {
  color: #b61b1b;
}
.button.button__secondary:hover,
.button.button__secondary.button.button__secondary--primary:hover,
.button.button__secondary.button.button__secondary--warn:hover {
  color: #f60;
}
.button.button__secondary:focus,
.button.button__secondary.button.button__secondary--primary:focus,
.button.button__secondary.button.button__secondary--warn:focus {
  color: #f60;
}
.button.button__secondary:active,
.button.button__secondary.button.button__secondary--primary:active,
.button.button__secondary.button.button__secondary--warn:active {
  color: #dd5800;
}
.button.button__outline {
  background-color: transparent;
  color: #027faa;
  border: 1px solid #027faa;
}
.button.button__outline.button.button__outline--primary {
  border-color: #17aa17;
  color: #17aa17;
}
.button.button__outline.button.button__outline--warn {
  border-color: #b61b1b;
  color: #b61b1b;
}
.button.button__outline:hover,
.button.button__outline.button.button__outline--primary:hover,
.button.button__outline.button.button__outline--warn:hover {
  background-color: #f60;
  border-color: #f60;
  color: #fff;
}
.button.button__outline:focus,
.button.button__outline.button.button__outline--primary:focus,
.button.button__outline.button.button__outline--warn:focus {
  background-color: #f60;
  border-color: #f60;
  color: #fff;
}
.button.button__outline:active,
.button.button__outline.button.button__outline--primary:active,
.button.button__outline.button.button__outline--warn:active {
  background-color: #dd5800;
  border-color: #dd5800;
  color: #fff;
}
               
                


                
                
            </style>
  
      
<button class="accordion uno ">Mathematics<span class="badge badge-warning"></span></button>
<div class="panel" >
    <div class="list-group">
        
        
        <style>

        </style>
        
        <div class="button-group button-group--expanded">
            <button id="mq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button id="ma1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="mq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>

            <button id="ma2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="mq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>

            <button id="ma3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        
        
        
        
      
      
    </div>
</div>
      
<button class="accordion uno ">Science <span class="badge badge-success"></span></button>
<div class="panel" >
   <div class="button-group button-group--expanded">
            <button id="sciq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button  id="scia1" onclick="showqans(this.id)"  class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
    </div>
    <div class="button-group button-group--expanded">
        <button id="sciq2" onclick="showquestd(this.id)" class="button button__outline">
          QUESTION 2
        </button>

        <button id="scia2" onclick="showqans(this.id)"  class="button button__outline button__outline--primary">
         ANSWER 
        </button>

       
      </div>
    <div class="button-group button-group--expanded">
        <button id="sciq3" onclick="showquestd(this.id)" class="button button__outline">
          QUESTION 3
        </button>

        <button id="scia3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
         ANSWER 
        </button>

       
      </div>
       
</div>
      
<button class="accordion uno">Filipino<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="filq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button id="fila1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div  class="button-group button-group--expanded">
            <button class="button button__outline" id="filq2" onclick="showquestd(this.id)">
              QUESTION 2
            </button>

            <button id="fila2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="filq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>

            <button id="fila3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
    </div>
   </div>
          
          
          
          
          

<button class="accordion uno">History<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="hisq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button id="hisa1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="hisq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>

            <button  id="hisa2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="hisq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>

            <button  id="hisa3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
          <div class="button-group button-group--expanded">
            <button id="hisq4" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 4
            </button>

            <button  id="hisa4" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
          
          <div class="button-group button-group--expanded">
            <button id="hisq6" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 5
            </button>
            <button  id="hisa6" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>           
          </div>
    </div>
</div>
<button class="accordion uno">Agriculture<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="agq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button  id="aga1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="agq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>

            <button  id="aga2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        
    </div>
</div>

<button class="accordion uno">Music<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="musq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button  id="musa1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="musq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>
            <button id="" onclick="togglePlay()" class="button button__outline">
                Play/Pause Music
            </button>
            

            <button  id="musa2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="musq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>
            <button id="" onclick="togglePlay1()" class="button button__outline">
                Play/Pause Music
            </button>

            <button  id="musa3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
    </div>
</div>
<button class="accordion uno">Showbiz<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="shq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button  id="sha1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="shq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>

            <button  id="sha2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="shq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>

            <button  id="sha3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
          <div class="button-group button-group--expanded">
            <button id="shq4" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 4
            </button>

            <button  id="sha4" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
          <div class="button-group button-group--expanded">
            <button id="shq5" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 5
            </button>

            <button  id="sha5" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
    </div>
</div>

<button class="accordion uno">Sports<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="spoq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button  id="spoa1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button  id="spoq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>

            <button  id="spoa2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="spoq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>

            <button  id="spoa3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
    </div>
</div>


<button class="accordion uno">Economics<span class="badge badge-danger"></span></button>
<div class="panel">
     <div class="list-group">
        <div class="button-group button-group--expanded">
            <button id="econq1" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 1
            </button>

            <button  id="econa1" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button  id="econq2" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 2
            </button>

            <button id="econa2" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
        <div class="button-group button-group--expanded">
            <button id="econq3" onclick="showquestd(this.id)" class="button button__outline">
              QUESTION 3
            </button>

            <button id="econa3" onclick="showqans(this.id)" class="button button__outline button__outline--primary">
             ANSWER 
            </button>

           
          </div>
    </div>
</div>




<audio id="myAudio" src="/sound/anti-hero.mp3" preload="auto"></audio>
<audio id="myAudio1" src="/sound/Santigwar.mp3" preload="auto"></audio>


<script>
var myAudio = document.getElementById("myAudio");
var myAudio1 = document.getElementById("myAudio1");
var isPlaying = false;
var isPlaying1 = false;

function togglePlay() {
  isPlaying ? myAudio.pause() : myAudio.play();
};

myAudio.onplaying = function() {
  isPlaying = true;
};
myAudio.onpause = function() {
  isPlaying = false;
};


function togglePlay1() {
  isPlaying1 ? myAudio1.pause() : myAudio1.play();
};

myAudio1.onplaying = function() {
  isPlaying1 = true;
};
myAudio1.onpause = function() {
  isPlaying1 = false;
};



</script>










      
<script>
   var acc = document.getElementsByClassName("uno");
   var i;
      
    for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
           this.classList.toggle("active");
           var panel = this.nextElementSibling;
           if (panel.style.display === "block") {
               panel.style.display = "none";
           } else {
               panel.style.display = "block";
           }
    });
    }
 </script>
         

        





       
        <script src="/assets/jquery/dist/jquery.js"></script>
        <script src="/js/js.js"> </script>

       
        
    </body>
</html>